@use "variables" as *;

@mixin page-header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: $font-2xl;
    font-weight: $weight-bold;
    color: $text-primary;
    margin: 0;
    line-height: 1.2;
  }

  p {
    font-size: $font-sm;
    color: $text-secondary;
    margin: 0 !important;
    line-height: 1.5;
  }
}

:global {
  .pageHeader {
    @include page-header;
  }
}
