PORT=3001
SUPABASE_ANON_KEY=<check supabase project settings>
SUPABASE_SERVICE_KEY=<check supabase project settings>
SUPABASE_URL=https://mcqtmhxibefwpjhxjiqw.supabase.co
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
NODE_ENV=development
CLIENT_URL=http://localhost:5173